<footer>
	<div class="center">
		 follow me 
		<%= link_to image_tag('linkedin.png', :alt => "linkedin"), 'https://www.linkedin.com/profile/view?id=252405573&trk=nav_responsive_tab_profile', :target => "_blank" %> 
		<%= link_to image_tag('github.png', :alt => "github", size: '32x32'), 'https://github.com/SamirArap?tab=repositories', :target => "_blank" %>
		<%= link_to image_tag('twitter.png', :alt => "twitter"), 'http://www.twitter.com', :target => "_blank" %> 
		<%= link_to image_tag('youtube.png', :alt => "youtube"), 'http://www.youtube.com', :target => "_blank" %> 
		<%= link_to image_tag('mail.png', :alt => "mail") %> 
	</div>
	
</footer>